<nav class="cover-navigation navigation--social">
    <ul class="navigation"> {{ if .Site.Params.twitter }}
        <!-- Twitter -->
        <li class="navigation__item">
            <a href="http://twitter.com/{{ .Site.Params.twitter }}" title="@{{ .Site.Params.twitter }} on Twitter"> <i class='fa fa-twitter'></i> <span class="label">Twitter</span> </a>
        </li> {{ end }} {{ if .Site.Params.facebook }}
        <!-- Facebook -->
        <li class="navigation__item">
            <a href="https://www.facebook.com/{{ .Site.Params.facebook }}" title="{{ .Site.Params.facebook }} on facebook"> <i class='fa fa-facebook'></i> <span class="label">Facebook</span> </a>
        </li> {{ end }} {{ if .Site.Params.github }}
        <!-- github -->
        <li class="navigation__item">
            <a href="https://github.com/{{ .Site.Params.github }}" title="{{ .Site.Params.github }} on github"> <i class='fa fa-github'></i> <span class="label">Github</span> </a>
        </li> {{ end }} </br> {{ if .Site.Params.googleplus }}
        <!-- Google Plus -->
        <li class="navigation__item">
            <a href="https://plus.google.com/+{{ .Site.Params.googleplus }}/" title="{{ .Site.Params.googleplus }} on g+"> <i class='fa fa-google-plus'></i> <span class="label">Google Plus</span> </a>
        </li> {{ end }} {{ if .Site.Params.soundcloud }}
        <!-- Soundcloud -->
        <li class="navigation__item">
            <a href="https://soundcloud.com/{{ .Site.Params.soundcloud }}" title="{{ .Site.Params.soundcloud }} on soundcloud"> <i class='fa fa-soundcloud'></i> <span class="label">Soundcloud</span> </a>
        </li> {{ end }} {{ if .Site.Params.email }}
        <!-- Email -->
        <li class="navigation__item">
            <a href="mailto:{{ .Site.Params.email }}" title="Email {{ .Site.Params.email }}"> <i class='fa fa-envelope-o'></i> <span class="label">Email</span> </a>
        </li> {{ end }} </ul>
</nav>
